.order-creation1-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.button-div-order {
  width: 70%;
  margin: 10px 50px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.order-form {
  width: 70%;
  height: 90%;
  align-self: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.order-form h2 {
  margin: 30px 50px;
  text-align: center;
}

.order-form .order-input-div {
  margin: 10px 50px;
}

.order-form input {
  margin-top: 10px;
  width: 300px;
  height: 30px;
  border: 1px grey solid;
  border-radius: 6px;
}

.order-form button {
  margin: 30px 50px
}

@media (max-width: 600px) {

  .button-div-order {
    width: 100%;
    margin-left: 2%;
    align-self: start;
  }
  
  .order-form {
    width: 95%;
  }

  .order-form input {
    width: 80%;
  }

  .order-form .order-input-div {
    margin: 10px 30px;
  }

  .order-form button {
    margin: 30px 30px
  }
}