.between {
    justify-content: space-between;
    padding: 2%;
}

.button-round {
    margin-inline: 30px;
    margin-top: 10px;
}

.round-element {
    width: 90%;
    height: 70%;
    padding: 2%;
    border: groove 2px;
    border-radius: 5px;
    background-color: white;
}

.scroller-item-round {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    margin-bottom: 5%;
    border-radius: 5px;
    background-color: #f0f8ff;
    border: 1px solid black;
}

.round-scroller {
    height: 80%;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 3%;
}

.link-style {
    color: black;
    width: 50%;
}